*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff9b00;
  --secondary-color: #003c69;
  /* --primary-color: #18995f;
  --secondary-color: #0e7f4c; */
}
@font-face {
  font-family: "helvetica";
  src: url(../fonts/Helvetica-Font/Helvetica.ttf);
}

body {
  font-family: helvetica;
}
body h1::selection {
  color: white;
  background-color: var(--secondary-color);
}
body h2::selection {
  color: white;
  background-color: var(--secondary-color);
}

#hero-img {
  width: 36%;
  height: auto;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  user-select: none;
}

.right-circle {
  position: absolute;
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 60vw;
  border-radius: 0 47vh 47vh 0;
}
.left-circle {
  position: absolute;
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 60vw;
  border-radius: 47vh 0 0 47vh;
  right: 0;
}

.hero-text {
  display: flex;
  position: absolute;
  top: 25vh;
  right: 6vw;
  align-items: flex-end;
  flex-direction: column;
}
.hero-text h1 {
  color: var(--secondary-color);
  font-size: 11vh;
  margin-bottom: 4vh;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.hero-text h2 {
  color: var(--secondary-color);
  font-size: 7vh;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.hero-text h1:hover,
.hero-text h2:hover {
  box-shadow: inset 40vw 0 0 0 var(--primary-color);
  color: var(--secondary-color);
}

.title {
  color: var(--secondary-color);
  font-size: 10vh;
  margin-bottom: 3vh;
}
.subtitle {
  color: var(--secondary-color);
  font-size: 6vh;
}

#about {
  margin-top: 20vh;
  position: absolute;
  top: 100%;
  width: 100%;
}

.content {
  position: static;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}
.content h1,
.content h2 {
  width: fit-content;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.content h1:hover,
.content h2:hover {
  box-shadow: inset 30vw 0 0 0 var(--primary-color);
  color: var(--secondary-color);
}

.icon {
  position: absolute;
  height: 50vh;
  right: 10vw;
  top: 25vh;
}
