*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff9b00;
  --secondary-color: #003c69;
  /* --primary-color: #18995f;
  --secondary-color: #0e7f4c; */
}
@font-face {
  font-family: "helvetica";
  src: url(../fonts/Helvetica-Font/Helvetica.ttf);
}

body {
  font-family: helvetica;
}
body h1::selection {
  color: white;
  background-color: var(--secondary-color);
}
body h2::selection {
  color: white;
  background-color: var(--secondary-color);
}

#hero-img {
  width: 36%;
  height: auto;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  user-select: none;
}

header {
  z-index: 7;
  position: absolute;
  top: 1vh;
  right: 1vh;
}
#logos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.logo1 {
  height: 9vh;
}
.logo2 {
  height: 6vh;
}

.right-circle {
  position: absolute;
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 60vw;
  border-radius: 0 47vh 47vh 0;
}
.left-circle {
  position: absolute;
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 60vw;
  border-radius: 47vh 0 0 47vh;
  right: 0;
}

.hero-text {
  display: flex;
  position: absolute;
  top: 35vh;
  right: 6vw;
  align-items: flex-end;
  flex-direction: column;
}
.hero-text h1 {
  color: var(--secondary-color);
  font-size: 11vh;
  margin-bottom: 4vh;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.hero-text h2 {
  color: var(--secondary-color);
  font-size: 7vh;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.hero-text h1:hover,
.hero-text h2:hover {
  box-shadow: inset 40vw 0 0 0 var(--primary-color);
  color: var(--secondary-color);
}

.title {
  color: var(--secondary-color);
  font-size: 10vh;
  margin-bottom: 3vh;
}
.subtitle {
  color: var(--secondary-color);
  font-size: 6vh;
}

#about {
  margin-top: 25vh;
  position: absolute;
  top: 100%;
  width: 100%;
}
#me {
  margin-top: 25vh;
  position: absolute;
  top: 200%;
  width: 100%;
}

.content {
  position: static;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}
.content h1,
.content h2 {
  width: fit-content;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.content h1:hover,
.content h2:hover {
  box-shadow: inset 30vw 0 0 0 var(--primary-color);
  color: var(--secondary-color);
}

.icon {
  position: absolute;
  height: 50vh;
  right: 10vw;
  top: 25vh;
}

.content2 {
  margin-left: 3vw;
}

.ilist {
  color: var(--secondary-color);
  font-size: 6vh;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.content-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 120%;
}

.box {
  border-radius: 20px;
  width: 600px;
  height: 400px;
  margin-top: 40px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.box h1 {
  font-size: 4vh;
  margin: 3%;
  color: var(--secondary-color);
}
.box h3 {
  font-size: 3vh;
  margin: 3%;
  color: var(--secondary-color);
}
.box p {
  font-size: 2.5vh;
  margin: 3%;
  color: var(--secondary-color);
}
.box img {
  margin: 3%;
  width: 30%;
}
.box-border {
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .hero-text {
    display: flex;
    position: absolute;
    top: 5vh;
    left: 3vw;
    align-items: flex-start;
    flex-direction: column;
  }
  .hero-text h1 {
    color: var(--secondary-color);
    font-size: 8vh;
    width: 50vw;
    margin-bottom: 3vh;
    box-shadow: inset 0 0 0 0 var(--primary-color);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .hero-text h2 {
    color: var(--secondary-color);
    font-size: 4vh;
    box-shadow: inset 0 0 0 0 var(--primary-color);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .hero-text h1:hover,
  .hero-text h2:hover {
    box-shadow: inset 40vw 0 0 0 var(--primary-color);
    color: var(--secondary-color);
  }

  #hero-img {
    display: flex;
    height: 50%;
    width: auto;
    z-index: 3;
    position: absolute;
    bottom: 0;
    user-select: none;
    box-shadow: 0px 15px 10px -15px #111;
  }

  #about {
    margin-top: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  #me {
    margin-top: 25vh;
    position: absolute;
    top: 200%;
    width: 100%;
  }

  .right-circle {
    position: absolute;
    margin: 0;
    background-color: var(--primary-color);
    bottom: 0;
    height: 93vh;
    width: 100vw;
    border-radius: 0 75% 0 0;
  }
  .left-circle {
    position: absolute;
    margin: 0;
    background-color: var(--primary-color);
    height: 93vh;
    width: 100vw;
    border-radius: 0 0 0 75%;
    right: 0;
    z-index: -1;
  }

  .title {
    color: var(--secondary-color);
    font-size: 8vh;
  }
  .subtitle {
    color: var(--secondary-color);
    font-size: 4vh;
  }

  #logos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
  .logo1 {
    height: 6vh;
  }
  .logo2 {
    height: 3.5vh;
  }

  .content {
    position: static;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 2.5vw;
    top: 0;
    align-items: flex-end;
  }
  .content2 {
    position: static;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    top: 0;
    margin-right: 2.5vw;
    align-items: flex-end;
  }

  .content h1,
  .content h2 {
    margin-top: 3vh;
    width: fit-content;
    color: var(--secondary-color);
    box-shadow: none;
    transition: none;
  }

  #iam {
    margin-top: 40vh;
  }
  .ilist {
    color: var(--secondary-color);
    font-size: 4vh;
    margin-bottom: 3vh;
  }

  .content h1 {
    margin-top: 45vh;
    margin-bottom: 0;
  }
  .content h2 {
  }
  .content h1:hover,
  .content h2:hover {
    box-shadow: none;
  }

  .icon {
    position: absolute;
    top: 0;
    margin-top: 3vh;
    height: 38vh;
  }

  #me {
    margin-top: 0;
    top: 170%;
  }
}

@media only screen and (max-height: 620px) {
}
