*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff9b00;
  --secondary-color: #003c69;
}
@font-face {
  font-family: "helvetica";
  src: url(../fonts/Helvetica-Font/Helvetica.ttf);
}
::-webkit-scrollbar{
  width: 1;
}

body {
  font-family: helvetica;

}
body h1::selection, h2::selection, h3::selection, h4::selection, p::selection, img::selection, a::selection {
  color: white;
  background-color: var(--secondary-color);
}

#hero-img {
  position: absolute;
  width: 36%;
  height: auto;
  z-index: 3;
  bottom: 0;
  left: 0;
  user-select: none;
}

header {
  z-index: 7;
  top: 1vh;
  right: 1vh;
}
#logos {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}
.logo1 {
  height: 9vh;
}
.logo2 {
  height: 6vh;
}

.right-circle {
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 60vw;
  border-radius: 0 47vh 47vh 0;
}
.left-circle {
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 60vw;
  border-radius: 47vh 0 0 47vh;
}

.hero-text {
  margin-top: 20vh;
  text-align: right;
}
.hero-text h1 {
  color: var(--secondary-color);
  font-size: 10vh;
  margin-bottom: 4vh;
}
.hero-text h2 {
  color: var(--secondary-color);
  font-size: 6.5vh;
}


.title {
  color: var(--secondary-color);
  font-size: 10vh;
  margin-bottom: 3vh;
}
.subtitle {
  color: var(--secondary-color);
  font-size: 6.5vh;
}

#hero{
}
#about {  
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20vh;
}
#me {
  margin-top: 20vh;
}
#news {
  margin-top: 20vh;
}

.content {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin-left: 3vw;
}
.content h1,
.content h2 {
  width: fit-content;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.content h1:hover,
.content h2:hover {
  box-shadow: inset 30vw 0 0 0 var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

#about-content{
  position: absolute;
  right: 0;
}

.icon {
  height: 50vh;
}
.icon-circle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  margin-left: 3vw;
}
.content3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ilist {
  color: var(--secondary-color);
  font-size: 6vh;
}


#hero-content{
  position: absolute;
  top: 0;
  right: 0;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin-right: 3vw;
}
#hero-right{
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 3vw;
  margin-right: 3vw;
}

.box {
  border-radius: 20px;
  width: 650px;
  height: 450px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.box h1 {
  font-size: 30px;
  margin: 3%;
  color: var(--secondary-color);
}
.box h3 {
  font-size: 16px;
  margin: 3%;
  color: rgb(110, 110, 110);
}
.box p {
  font-size: 18px;
  margin: 3%;
  color: var(--secondary-color);
}
.box img {
  margin: 3%;
  width: 160px;
}
.box-border {
  border-radius: 20px;
}

.news-content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 94vw;
  margin-top: 30px;
  margin-right: 3vw;
  margin-left: 3vw;
}

.news-box {
  border-radius: 20px;
  width: 40.5vw;
  height: 60vh;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.news-box h1 {
  font-size: 3vh;
  margin: 3%;
  color: var(--secondary-color);
}
.news-box h3 {
  font-size: 1.6vh;
  margin: 3%;
  color: rgb(110, 110, 110);
}
.news-box p {
  font-size: 2vh;
  margin: 3%;
  color: var(--secondary-color);
}
.news-box img {
  margin: 3%;
  width: 28%;
}
.news-box a {
  font-size: 18px;
  margin: 3%;
  color: var(--secondary-color);
}
.news-box .more{
  color: rgb(110, 110, 110);
  text-decoration: underline;
}

.blogs{
  display: flex;
  width: 46.5vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-box {
  border-radius: 20px;
  width: 14vw;
  height: 14vw;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.blog-box h1 {
  font-size: 20px;
  margin: 4%;
  color: var(--secondary-color);
}
.blog-box h3 {
  font-size: 14px;
  margin: 4%;
  color: rgb(110, 110, 110);
}
.blog-box p {
  font-size: 18px;
  margin: 4%;
  color: var(--secondary-color);
}
.blog-box a {
  font-size: 18px;
  margin: 4%;
  color: var(--secondary-color);
}
.blog-box img {
  margin: 4%;
  width: 28%;
}
.blog-box .more{
  color: rgb(110, 110, 110);
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 4vw;
    margin-top: 0;
  }
  .hero-text h1 {
    color: var(--secondary-color);
    font-size: 8vh;
    width: 50vw;
    margin-bottom: 3vh;
    text-align: left; 
  }
  .hero-text h2 {
    color: var(--secondary-color);
    font-size: 4vh;
    text-align: left;
  }

  #about {
    width: 99vw;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
  }


  #hero-img {
    height: 45vh;
    width: auto;
    z-index: 10;
    user-select: none;
    box-shadow: 0px 15px 10px -15px #111;
    margin-bottom: 0;
  }
  
  .right-circle {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    border-radius: 0 75% 0 0;
  }
  .left-circle {
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    border-radius: 0 0 0 75%;
  }
  
  #about-content{
    position: absolute;
    right: 0;
  }

  .title {
    margin-top: 0;
    color: var(--secondary-color);
    font-size: 8vh;
  }
  .subtitle {
    color: var(--secondary-color);
    font-size: 4vh;
  }

  #logos {
    margin-bottom: 0;
  }
  .logo1 {
    height: 6vh;
  }
  .logo2 {
    height: 3.5vh;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    margin-right: 2.5vw;
    z-index: 12;
    align-items: flex-end;
  }
  .content2 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    top: 0;
    margin-right: 2.5vw;
    align-items: center;
  }

  .content h1,
  .content h2 {
    text-align: right;
    margin-top: 3vh;
    width: fit-content;
    color: var(--secondary-color);
    box-shadow: none;
    transition: none;

  }

  .box {
    border-radius: 20px;
    width: 90vw;
    height: 45vh;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  .content-box {
    display: flex;
    justify-content: center;
  }

  .ilist {
    color: var(--secondary-color);
    font-size: 4vh;
    margin-bottom: 3vh;
  }

  .content h1:hover,
  .content h2:hover {
    box-shadow: none;
  }

  .icon {
    display: none;
  }

  #news-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .news-box {
    border-radius: 20px;
    width: 90vw;
    height: 60vh;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }
  
  .news-box h1 {
    font-size: 3vh;
    margin: 3%;
    color: var(--secondary-color);
  }
  .news-box h3 {
    font-size: 1.6vh;
    margin: 3%;
    color: rgb(110, 110, 110);
  }
  .news-box p {
    font-size: 2vh;
    margin: 3%;
    color: var(--secondary-color);
  }
  .news-box img {
    margin: 3%;
    width: 28%;
  }

  
.blogs{
  display: flex;
  width: 90vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
.blog-box {
  border-radius: 20px;
  width: 38vw;
  height: 34vh;
  margin-top: 3vh;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.blog-box h1 {
  font-size: 16px;
  margin: 3%;
  color: var(--secondary-color);
}
.blog-box h3 {
  font-size: 10px;
  margin: 3%;
  color: rgb(110, 110, 110);
}
.blog-box p {
  font-size: 14px;
  margin: 3%;
  color: var(--secondary-color);
}
.blog-box a {
  font-size: 14px;
  margin: 3%;
  color: var(--secondary-color);
}
.blog-box img {
  margin: 3%;
  width: 28%;
}
.blog-box .more{
  color: rgb(110, 110, 110);
  text-decoration: underline;
}
  
}

@media only screen and (max-height: 620px) {
}
